<style>
  .desk_compare_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #00000080;
    display: none;
    padding: 5vh 0;
  }

  .desk_compare_modal .desk_compare_modal_contain {
    min-width: 810px;
    height: 90vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 10px;
    width: 42.1875vw;
  }

  .desk_compare_modal .desk_compare_modal_head {
    height: 9.074vh;
    background-color: #f9fafb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 36px;
    font-family: DIN-BlackItalic;
    font-weight: 500;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #262626;
    border-radius: 10px 10px 0 0;
  }

  .desk_compare_modal .desk_compare_modal_head svg {
    cursor: pointer;
    width: 26px;
    height: 26px;
  }

  .desk_compare_modal .desk_compare_modal_body {
    padding: 2.78vh 42px 5.7703vh;
    overflow: auto;
    height: calc(100% - 9.074vh);
  }

  @media only screen and (max-width: 768px) {
    .desk_compare_modal .desk_compare_modal_contain {
      width: 89.33vw;
      min-width: auto;
    }

    .desk_compare_modal .desk_compare_modal_head {
      padding: 0 5.33vw;
      font-size: 20px;
      height: 7.074vh;
    }

    .desk_compare_modal .desk_compare_modal_body {
      padding: 5.33vw;
    }

    .desk_compare_modal .parameter_comparison .parameter_comparison_title {
      padding: 0;
    }

    .desk_compare_modal .parameter_comparison .parameter_comparison_product_featured_image {
      margin: 0;
    }
  }
</style>

<div class="desk_compare_modal">
  <div class="desk_compare_modal_contain">
    <div class="desk_compare_modal_head">
      <span>{{ 'products.product.text.difference' | t }}</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="37"
        height="37"
        viewBox="0 0 37 37"
        fill="none"
        id="close_compare_modal"
      >
        <path d="M27.5762 9.19141L9.19139 27.5762" stroke="#262626" stroke-width="2"/>
        <path d="M9.19141 9.19336L27.5762 27.5781" stroke="#262626" stroke-width="2"/>
      </svg>
    </div>
    <div class="desk_compare_modal_body">
      {% render 'desk-parameter-comparison', compare_modal_products: compare_modal_products, is_modal: true %}
    </div>
  </div>
</div>

<script>
  const compare_modal = document.querySelector('.desk_compare_modal');
  if (compare_modal) {
    document.querySelector('#show_compare_modal').addEventListener('click', () => {
      compare_modal.style.display = 'block';
      document.body.style.overflowY = 'hidden';
    });
    document.querySelector('#close_compare_modal').addEventListener('click', () => {
      compare_modal.style.display = 'none';
      document.body.style.overflowY = 'auto';
    });
    compare_modal.addEventListener('click', (e) => {
      if (e.target === compare_modal) {
        compare_modal.style.display = 'none';
        document.body.style.overflowY = 'auto';
      }
    });
  }
</script>
