.search-form {
	display: block;
	max-width: 824px;
	margin: 0 auto;
}

.search-form .form-input {
	width: 100%;
	height: 60px;
	border: 1px solid #C5CBD5;
	background-color: #F8F9FC;
	border-radius: 30px;
	padding: 0 50px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #262629;
}

.search-form .button {
	position: absolute;
	padding: 0;
	background-color: transparent;
	border: none;
	min-width: auto;
	width: auto;
	top: 18px;
	left: 18px;
}

.search-form .button:hover,
.search-form .button:active,
.search-form .button:focus {
	background-color: transparent;
}

.search-form .button svg {
	width: 24px;
	height: 24px;
	margin: 0;
}

.search-container .form-fieldInline {
	display: flex;
	position: relative;
}

.search-container .breadcrumb+.halo-search-content {
	margin-top: 23px;
}

.search-container .results-count {
	display: none;
}

/* styling the filter icon in search page */
.search-container .toolbar-item {
	display: none;
	position: relative;
	z-index: 2;
	font-size: 0;
	letter-spacing: 0;
	margin-bottom: 30px;
}

.search-container .toolbar-item .toolbar-icon {
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	padding: 3px;
	border: 1px solid var(--bg-grey);
}

.search-container .toolbar-item .toolbar-icon.active {
	border-color: var(--icon);
}

.search-container .toolbar-item .toolbar-icon .icon {
	width: 100%;
	height: 100%;
}

.search-container .pageListing .product {
	display: inline-block;
}

.search-container .card-summary a .text {
	font-weight: var(--font-weight-semibold);
	font-style: italic;
}

/* link listing grid */
.search-container #main-page-article-grid {
	margin-top: -30px;
}

.search-container #main-page-article-grid .resultTable {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}

.search-container #main-page-article-grid .resultTable .item {
	padding: 29px;
}

.search-container #main-page-article-grid .resultTitle {
	width: 100%;
	font-size: calc(var(--font-heading-size) + 2px);
}

.search-container #main-page-article-grid .resultTitle .text {
	width: 525px;
}

.search-container #main-page-article-grid .resultTitle.text-center .text {
	margin-left: auto;
	margin-right: auto;
}

.search-container #main-page-article-grid .resultTitle.text-left .text {
	margin-left: 0;
	margin-right: auto;
}

.search-container #main-page-article-grid .resultTitle.text-right .text {
	margin-left: auto;
	margin-right: 0;
}

.search-container #main-page-article-grid .resultTable .item {
	background-color: var(--bg-global);
}

.search-container #main-page-article-grid .resultTable .item .button {
	font-size: var(--font-body-size);
	font-weight: var(--font-weight-normal);
	text-transform: none;
	width: 100px;
	min-width: 100px;
	margin-right: auto;
	margin-left: 0;
	margin-top: 10px;
	padding: 4px 0;
}

.search-container #main-page-article-grid .pagination-page-infinite {
	text-align: center;
	margin-top: 35px;
}

.search-container #main-page-article-grid .plus-button {
	width: 30px;
	min-width: 30px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: none;
}

.search-container #main-page-article-grid .plus-button::before {
	left: 5px;
}

.search-container #main-page-article-grid .plus-button svg {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin: 0;
}

.search-container #main-page-article-grid .item {
	display: none;
}

.search-container #main-page-article-grid .item.visible {
	display: block;
}

.search-container .page-header {
	padding: 34px 0 60px;
	font-family: Roboto;
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: 0%;
	color: #262629;
}

.halo-search-content {
	background-color: #F8F9FC;
	padding: 52px 15.625vw 200px;
}

.halo-search-content .productGrid {
	gap: 40px 30px;
}

.halo-search-content .productGrid .product {
	padding: 0;
	flex: 0 0 auto;
	width: calc((100% - 60px) / 3);
	margin: 0;
}

.halo-search-content .productGrid .product .card-media {
	padding-bottom: 90% !important;
	background-color: #fff;
	border-radius: 20px;
}

.halo-search-content .productGrid .product .card-information {
	box-shadow: none;
	padding: 0;
	margin-top: 22px;
}

.halo-search-content .productGrid .product .card-title,
.halo-search-content .productGrid .product .card-price .price__discount .price-item {
	font-family: Roboto;
	font-weight: 600;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: 0%;
	color: #262629;
}

.halo-search-content .productGrid .product .card-price .price__save {
	display: flex;
	align-items: center;
}

.halo-search-content .productGrid .product .card-price .price__save .price__last .price-item {
	font-size: 20px;
	line-height: 23px;
	color: #76767F;
	font-weight: 400;
	text-decoration: line-through;
}

.halo-search-content .productGrid .product .card-action {
	display: none;
}

@media screen and (max-width: 1024px) {
	.search-container .toolbar-item {
		display: block;
	}

	.search-container #main-page-article-grid .resultTable {
		grid-gap: 15px;
	}

	.search-container #main-page-article-grid .resultTable .item {
		padding: 19px;
	}

	.halo-search-content .productGrid .product {
		width: calc((100% - 30px) / 2) !important;
	}
}

@media screen and (max-width: 576px) {
	.search-container #main-page-article-grid .resultTable {
		grid-template-columns: 1fr;
	}

	.halo-search-content .productGrid .product {
		width: calc((100% - 10px) / 2) !important;
	}

	.halo-search-content {
		padding: 5.33vw;
	}

	.productGrid {
		margin: 0;
	}

	.search-container .collection--empty,
	.search-container .page-header.text-center {
		padding-left: 5.33vw;
		padding-right: 5.33vw;
	}

	.search-form .form-input {
		height: 40px;
		padding: 0 38px;
		font-size: 16px;
	}

	.search-form .button svg {
		width: 20px;
		height: 20px;
	}

	.search-form .button {
		left: 13px;
		top: 10px;
	}

	.search-container .page-header {
		font-size: 16px;
		line-height: 26px;
		padding: 15px 0 30px;
	}

	.halo-search-content .productGrid {
		gap: 18px 10px;
	}

	.halo-search-content .productGrid .product .card-media {
		border-radius: 10px;
	}

	.halo-search-content .productGrid .product .card-information {
		margin-top: 18px;
	}

	.halo-search-content .productGrid .product .card-title {
		font-size: 16px;
		line-height: 19px;
	}
}