.key_feature_simplicity {
  max-width: 75vw;
  margin: 0 auto;
  position: relative;
  background-color: #000000;
  padding: 0 8.33vw;
}

.key_feature_simplicity .key_feature_simplicity_title {
  font-family: DIN-BlackItalic;
  font-weight: 500;
  font-style: Regular;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 48px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.key_feature_simplicity .key_feature_simplicity_contain {
  margin-top: 3.229167vw;
  display: flex;
  align-items: stretch;
  gap: 1.04167vw;
}

.key_feature_simplicity .key_feature_simplicity_contain_left {
  flex: 0 0 26.04167vw;
  height: 34.375vw;
}

.key_feature_simplicity .key_feature_simplicity_item {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 1.25vw;
}

.key_feature_simplicity .key_feature_simplicity_item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;
  transition: transform .3s ease-in-out;
}

.key_feature_simplicity .key_feature_simplicity_contain_left .key_feature_simplicity_info {
  position: absolute;
  left: 1.09375vw;
  bottom: 2.5vw;
}

.key_feature_simplicity .key_feature_simplicity_info_title {
  font-family: DIN-BlackItalic;
  font-weight: 500;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 48px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
}

.key_feature_simplicity .key_feature_simplicity_info_text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: rgba(255, 255, 255, .7);
  margin-top: 0.4167vw;
}

.key_feature_simplicity .key_feature_simplicity_contain_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.04167vw;
}

.key_feature_simplicity .key_feature_simplicity_contain_right .key_feature_simplicity_item {
  flex: 1;
}

.key_feature_simplicity .key_feature_simplicity_contain_right .key_feature_simplicity_info {
  left: 1.5625vw;
  bottom: 1.67vw;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .key_feature_simplicity {
    max-width: 100vw;
    padding: 8.33vw 5.33vw;
  }

  .key_feature_simplicity .key_feature_simplicity_title {
    font-size: 26px;
    line-height: 30px;
  }

  .key_feature_simplicity .key_feature_simplicity_contain {
    margin-top: 5.33vw;
    flex-wrap: wrap;
    gap: 4.267vw;
  }

  .key_feature_simplicity .key_feature_simplicity_contain_left {
    flex: 0 0 100%;
    height: 104vw;
  }

  .key_feature_simplicity .key_feature_simplicity_contain_right {
    flex: 0 0 100%;
    gap: 4.267vw;
  }

  .key_feature_simplicity .key_feature_simplicity_contain_right .key_feature_simplicity_item {
    flex: 0 0 64vw;
  }

  .key_feature_simplicity .key_feature_simplicity_contain_left .key_feature_simplicity_info,
  .key_feature_simplicity .key_feature_simplicity_contain_right .key_feature_simplicity_info {
    left: 5.6vw;
    bottom: 8vw;
  }

  .key_feature_simplicity .key_feature_simplicity_info_title {
    font-size: 20px;
  }

  .key_feature_simplicity .key_feature_simplicity_info_text {
    font-size: 14px;
  }

  .key_feature_simplicity .key_feature_simplicity_item {
    border-radius: 3.2vw;
  }
}

@media (hover: hover) {
  .key_feature_simplicity .key_feature_simplicity_item img:hover {
    transform: scale(1.1);
  }
}