.cart-simplicity .container {
  max-width: none;
  padding: 0 16%;
  background-color: #F8F9FC;
}

.cart-simplicity .page-header {
  padding: 46px 0 33px;
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 30px;
  leading-trim: NONE;
  line-height: 58px;
  letter-spacing: 0%;
  color: #262629;
}

.cart-simplicity .empty_cart_icon svg {
  width: 104px;
  height: 96px;
}

.cart-simplicity .cart-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.cart-simplicity .cart-content-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.cart-simplicity .cart-header {
  display: flex;
  align-items: center;
}

.cart-simplicity .cart-content-item {
  flex: 1;
}

.cart-simplicity .cart-total {
  flex: 0 0 400px;
}

@media (min-width: 1025px) and (max-width: 1480px) {
  .cart-simplicity .container {
    padding-left: var(--padding-left-1);
    padding-right: var(--padding-right-1);
  }
}